@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");

:root {
  --main-color: #264653;
  --second-color: #2a9d8f;
  --third-color: #e9c46a;
  --fourth-color: #f4a261;
  --fifth-color: #e76f51;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-image:  linear-gradient(to left, var(--main-color), var(--second-color));
  text-align: center;
}
